@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron rounded-lg" style="min-height: 65vh">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-center justify-content-center">
                <p style="font-size: 2.8vh;">WELCOME TO</p>
                <p style="font-size: 2.8vh;">Student Council Secure E-Voting Platform</p>
                <p style="font-size: 2.8vh;">FWC-FMC</p>
                <button class="btn btn-secondary btn-lg" style="text-decoration-line: underline; border-radius: 40px;">BEGIN CAST YOUR VOTE</button>
                <br />
                <div class="d-inline-block mt-md-3">
                    <a href="" class="text-dark font-italic" style="text-decoration-line: underline; font-size: 1.8vh;">Create a new account</a>
                </div>
            </div>
            <div class="col">
                ​<picture>
                    <img src="./Images/HomeVote.png" class="img-fluid" alt="...">
                </picture>
            </div>
        </div>
    </div>
</div>