@{
    ViewData["Title"] = "About-Us Page";
}
<div class="jumbotron rounded-lg" style="min-height: 65vh">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col mr-sm-2 justify-content-center">
                <h1 class="display-3 font-weight-light">About Us</h1>
                <p>
                    A Student Council is a group of elected and volunteer students
                    working together with an adult advisor within the framework of
                    a constitution or bylaws to provide a means for student
                    expression and assistance in school affairs and activities, give
                    opportunities for student experience in leadership and encourage
                    student / faculty / community relations.
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <h3>Your Vote, Any device, Any location</h3>
                </div>
                <div class="row mb-md-5 mt-md-5">
                    <div class="col-md-auto">
                        ​<picture>
                            <img src="./Images/AboutUsSecure.png" class="image-size">
                        </picture>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-uppercase">Secure Voting</p>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-auto">
                        ​<picture>
                            <img src="./Images/AboutUsDevice.png" class="image-size">
                        </picture>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-uppercase">Device Ready</p>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-auto">
                        ​<picture>
                            <img src="./Images/AboutUsFast.png" class="image-size">
                        </picture>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-uppercase">Easy & Fast</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        ​<picture>
                            <img src="./Images/AboutUsVoter.png" class="image-size">
                        </picture>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-uppercase">Voter Reach</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>