/*START OF NAV BAR STYLES*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: red;
    border-color: #1861ac;
}

.navbar-collapse .navbar-nav > li > a:hover, .navbar-collapse .navbar-nav > li > a:focus {
    color: crimson !important;
}
/*END OF NAV BAR STYLES*/

/*START OF MAIN STYLES*/
.mainMarginBottomFive 
{
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    padding-top: 5vh;
    min-height: 75vh;
}

.mainGrid 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-gap: 0px 0px;
}
/*END OF MAIN STYLES*/

/*START OF FOOTER STYLES*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0;
}
.row.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
}
.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.footer {
    padding-top: 20px;
    bottom: 0px;
    white-space: nowrap;
    line-height: 80px; /* Vertically center the text there */
}
.footer .container {
    height: 80px;
    min-height: 80px;
}

.fab {
    padding: 13.5px;
    width: 40px;
    height: 42px;
    margin: 5px 15px;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*END OF FOOTER STYLES*/

/*START OF ABOUT US STYLES*/
.image-size{
    height: 32px;
    width: 32px;
}
/*END OF ABOUT US STYLES*/

/*START OF DASHBOARD STYLES*/
.highcharts-data-labels span 
{
    font-size: 9px !important;
    width: 100px;
    word-break: break-word !important;
    white-space: normal !important;
}

.close
{
    margin-left: 1.2rem !important;
    float: left !important;
}

.table-scroll-bar 
{
    height: 400px;
    overflow: scroll;
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
}
/*END OF DASHBOARD STYLES*/

/*START OF LOGIN STYLES*/
.HideToken
{
    display: none !important;
}
/*END OF LOGIN STYLES*/

/*START OF RESULT STYLES*/
.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded {
    border-radius: 1rem !important;
}

.btn-demo {
    padding: 0.5rem 2rem !important;
    border-radius: 30rem !important;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold !important;
}

.btn-demo:hover, .btn-demo:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}
/*END OF RESULT STYLES*/