@using EVotingSystem.Models.Identity;
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}
<div class="jumbotron rounded-lg" style="min-height: 65vh">
    <div class="container-fluid">
        <h1 class="text-uppercase text-center">Sign In</h1>
        <form class="mt-md-5" asp-controller="Login" asp-action="Index" method="post" id="LoginForm">
            <div class="form-group form-row justify-content-md-center" id="StudentIdRow">
                <div class="col-md-4 mb-3">
                    <label asp-for="StudentId" for="StudentIdTextBox">Student ID</label>
                    <input asp-for="StudentId" type="text" class="form-control" id="StudentIdTextBox" aria-describedby="StudentIdHelp" placeholder="Enter your Student ID">
                    <small id="StudentIdHelp" class="form-text text-muted">We'll never share your student Id with anyone else.</small>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-row justify-content-md-center HideToken" id="AdminEmailRow">
                <div class="col-md-4 mb-3">
                    <label asp-for="Email" for="AdminEmailTextBox">Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="AdminEmailTextBox" placeholder="Enter your Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-row justify-content-md-center">
                <div class="col-md-4 mb-3">
                    <label asp-for="Password" for="PasswordTextBox">Password</label>
                    <a class="text-primary float-right" id="RecoverLink" asp-area="" asp-controller="Login" asp-action="Recover">Forgot your password?</a>
                    <input asp-for="Password" type="password" class="form-control" id="PasswordTextBox" placeholder="Enter your Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-row justify-content-md-center">
                <div class="col-md-4 mb-3">
                    <label asp-for="AccountType" for="AccountTypeComboBox">Account Type</label>
                    <select asp-for="AccountType" class="form-control" id="AccountTypeComboBox">
                        <option>Student</option>
                        <option>Administrator</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-row justify-content-md-center">
                <div class="col-md-4 mb-3">
                    <div class="form-check ml-auto">
                        <input asp-for="StaySignedIn" type="checkbox" class="form-check-input" id="StaySignedCheckBox">
                        <label asp-for="StaySignedIn" class="form-check-label" for="StaySignedCheckBox">Stay Signed In</label>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-4 mb-3">
                    <button id="LoginButton" type="submit" class="btn btn-primary btn-lg btn-block">
                        Submit
                    </button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <p id="LoginResult" class="text-danger"></p>
            </div>
            <div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmationModalLabel">Registration Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Please check your email and paste the code here</p>
                            <label asp-for="Code" for="CodeTextBox">Code</label>
                            <input asp-for="Code" type="text" class="form-control" id="CodeTextBox" placeholder="Your Confirmation Code">
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <p id="ConfirmationResult" class="text-success" style="flex:auto;"></p>
                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
                            <button id="LoginCodeButton" type="submit" class="btn btn-primary btn-lg d-block">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>